.services-section {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.service-title {
  font-size: 2em;
  margin: 20px;
  color: #0f172a;
  font-weight: bold;
}

.service-description {
  font-size: 0.9em;
  margin: 10px 0;
  color: #0f172a;
  font-weight: bold;
}

.card-container {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card {
  justify-content: center;
  background-color: rgb(244, 243, 243);
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transform: translateY(10px);
  transition: opacity 0.6s ease, transform 0.6s ease;
  margin-bottom: 30px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: #22c55e64;
  transition: all 0.3s ease;
  cursor: pointer;
}

.card h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #0f172a;
}

.card p {
  font-size: 1em;
  color: #0f172a;
  margin-bottom: 15px;
}

.card .card-image {
  width: 100px;
  height: auto;
  border-radius: 8px;
}

@media (max-width: 340px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }

  .service-title {
    font-size: 1.5em;
  }

  .service-description {
    font-size: 0.9em;
  }

  .card h2 {
    font-size: 1em;
    margin-bottom: 10px;
    color: #0f172a;
  }

  .card p {
    font-size: 0.9em;
    color: #0f172a;
    margin-bottom: 15px;
  }
}
