.team-container {
  display: flex;
  gap: 25px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch; /* smooth on iOS */
  padding: 20px 0;
}

.team-container::-webkit-scrollbar {
  display: none;
}
